{
  "$schema": "https://json.schemastore.org/swcrc",
  "minify": true,
  "sourceMaps": true,
  "jsc": {
    "minify": {
      "compress": true,
      "mangle": true
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    }
  }
}
